/* ****************TAG SELECTORS****************** */

h1{
    color: red;
    font-size: 100px;
}


img:hover{
    background-color: gold;
}


/* ****************CLASS SELECTORS****************** */


.pizza{
    background-color: red;
}

.popcorn{
    background-color: green;
}

.circular{
    border-radius: 100%;
}


/* ****************TAG SELECTORS****************** */

#heading:hover{
    color: blueviolet;
}