body{
    font-family: 'Poppins', sans-serif;
}

header h1{
    background-color: lightgray;
    text-align: center;
    padding: 2px;
}

article{
    border: 2px solid black;
    padding: 5px;
    margin-bottom: 20px;
}

.container{
    width: 85%;
    margin: 0 auto;
}